<footer class="footer">
  <div class="container footer__container">
    <p class="footer__info">
      © 2022 | <span class="lang__rights_text">All Rights Reserved</span> |
    </p>
    <p class="footer__info">
      <span class="footer__text"> Developed with</span>
      <svg width="14" height="13" class="footer__icon">
        <use href="./images/sprite.svg#icon-heart"></use>
      </svg>
      <span class="footer__by_text">by</span>

      <button type="button" class="footer__btn" data-open-modal__window>
        GoIT Students
      </button>
    </p>
    <div class="overlay is-open-modal" data-modal__window>
      <div class="modal footer__wrapper">
        <button class="footer-modal__btn" data-close-modal__window>
        </button>
        <div>
          <h1 class="team-title">Code Masters</h1>
          <ul class="accordion">
            <li data-github-link="https://github.com/RobertUta">
              <a href="https://github.com/RobertUta" target="_blank">
              <img src="./images/footer/robi.jpg" />
              <div class="content">
                <span>
                  <h2>Robert Uță</h2>
                  <p>Team leader</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/MariusBirsan">
              <a href="https://github.com/MariusBirsan" target="_blank">
              <img src="./images/footer/marius.jpg" />
              <div class="content">
                <span>
                  <h2>Marius Bîrsan</h2>
                  <p>Scrum Master</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/IuliaPopoaca">
              <a href="https://github.com/IuliaPopoaca" target="_blank">
              <img src="./images/footer/iulia.jpg" />
              <div class="content">
                <span>
                  <h2>Iulia Popoacă</h2>
                  <p>Team member</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/PopoacaAndrei">
              <a href="https://github.com/PopoacaAndrei" target="_blank">
              <img src="./images/footer/andrei.jpg" />
              <div class="content">
                <span>
                  <h2>Andrei Popoacă</h2>
                  <p>Team Member</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/syveer">
              <a href="https://github.com/syveer" target="_blank">
              <img src="./images/footer/alexandra.jpeg" />
              <div class="content">
                <span>
                  <h2>Alexandra Hîngan</h2>
                  <p>Team Member</p>
                </span>
              </div>
            </li>
          </ul>
        </div>
        <div class="gallery">
          <ul class="gallery">
            <li data-github-link="https://github.com/RobertUta">
              <a href="https://github.com/RobertUta" target="_blank">
              <img src="./images/footer/robi.jpg" />
              <div class="content">
                <span>
                  <h2>Robert Uță</h2>
                  <p>Team leader</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/MariusBirsan">
              <a href="https://github.com/MariusBirsan" target="_blank">
              <img src="./images/footer/marius.jpg" />
              <div class="content">
                <span>
                  <h2>Marius Bîrsan</h2>
                  <p>Scrum Master</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/IuliaPopoaca">
              <a href="https://github.com/IuliaPopoaca" target="_blank">
              <img src="./images/footer/iulia.jpg" />
              <div class="content">
                <span>
                  <h2>Iulia Popoacă</h2>
                  <p>Team member</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/PopoacaAndrei">
              <a href="https://github.com/PopoacaAndrei" target="_blank">
              <img src="./images/footer/andrei.jpg" />
              <div class="content">
                <span>
                  <h2>Andrei Popoacă</h2>
                  <p>Team Member</p>
                </span>
              </div>
            </li>
            <li data-github-link="https://github.com/syveer">
              <a href="https://github.com/syveer" target="_blank">
              <img src="./images/footer/alexandra.jpeg" />
              <div class="content">
                <span>
                  <h2>Alexandra Hîngan</h2>
                  <p>Team Member</p>
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

