<link rel="stylesheet" href="./sass/header.scss" />

<section class="header">
  <!-- <div class="background"> -->
  <!-- <picture class="header-background"> -->
  <!-- Tablet & Desktop-->
  <!-- <source -->
  <!-- media="(min-width:301px) and (max-width:704px)" -->
  <!-- srcset="./images/tablet_header.jpg" -->
  <!-- /> -->
  <!-- Mobile -->
  <!-- <source media="(max-width:300px)" srcset="./images/mobile_header.jpg" /> -->
  <!-- <img src="./images/desktop_header.jpg" alt="header background" /> -->
  <!-- </picture> -->
  <!-- </div> -->
  <div class="links">
    <ul class="location">
      <li class="home">
        <a href="">HOME</a>
      </li>
      <li class="my-library">
        <a href="">MY LIBRARY</a>
      </li>
    </ul>
  </div>
  <div class="search">
    <input class="search-bar" type="text" placeholder="Movie Search" />
    <button class="search-button">
      <svg class="icon icon-search_icon">
        <use href="./images/icons.svg#icon-search_icon"></use>
      </svg>
    </button>
  </div>
  <div class="logo-section">
    <svg class="film-icon">
      <use href="./images/icons.svg#icon-film"></use>
    </svg>
    <h1>Filmoteka</h1>
  </div>
</section>
