<link rel="stylesheet" href="./sass/components/login-form.scss" />

<div id="loginModal" class="login-modal is-open">
  <div class="login-card">
    <h3>Enter your credentials</h3>
    <form class="login-form">
      <input type="text" placeholder="Username" />
      <input type="password" placeholder="Password" />
      <a href="https://website.com">Forgot your password?</a>
      <button type="submit">LOGIN</button>
      <button type="submit">REGISTER</button>
    </form>
  </div>
</div>
<button id="openLoginModalBtn">Login</button>

<script type="module" src="./js/login-form.js"></script>
