<link rel="stylesheet" href="./sass/modal.scss" />
<button data-modal-target="modal">Show Modal 1</button>
<!-- modal triggering buttons selection by "data-modal-target" attribute. Alternatively, we could define a class e.g. "modal-trigger" -->

<div class="modal" id="modal">
  <!-- This is the background overlay -->
  <div class="modal-content">
    <!-- This is the actual modal/popup box -->
    <span class="modal-close">&times;</span>
  </div>
</div>
<div class="movie-container">
  <!-- Aici vor fi afișate cardurile filmelor -->
</div>

<script type="module" src="./js/modal.js"></script>
<script type="module" src="./index.js"></script>
