body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.pagination-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination-numbers{
	display:flex;
	text-align: center;
}