.scrolltop__btn {
    width: 50px;
    height: 50px;
    border: none;
    border-color: black;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: fixed;
    opacity: 0.8;
    z-index: 10;

    cursor: pointer;
    bottom: 8%;
    right: 2%;

   border-radius: 50px;

    @media screen and (min-width: 768px) {
            width: 45px;
            height: 45px;
            right: 5%;
        }

                &:hover,
                &:focus {
                    opacity: 1;
                }
}

.scrolltop__btn:hover{
    box-shadow: 0 0.5px 0.5px 0 rgba(17, 6, 6, 0.2),
    0 6px 20px 0 rgba(22, 21, 19, 0.726);
}

.transitionBtn {
     transition: 1000ms;
 }

.scrolltop__icon {
    width: 50px;
    height: 50px;
    fill: #ff6b08;

    @media screen and (min-width: 768px) {
            width: 65px;
            height: 65px;
        }
}

.is-hidden-button {
    opacity: 0;
    pointer-events: 0;
    visibility: hidden;
}
