.dark {
    transition: background-color getProperty(time);

    & .movie-card__img {
        box-shadow: 0 0 20px getColor(primary-text-color);
    }

    & .footer {
        background-color: rgb(73, 73, 73);
    }

    & .footer__btn {
        border-bottom: 1px solid getColor(white-text-color);
        color: getColor(white-text-color);
    }

    & .footer__info {
        color: getColor(white-text-color);
    }
}

.scrolltop__btn:hover{
    box-shadow: 0 0.5px 0.5px 0 rgba(17, 6, 6, 0.2),
    0 6px 20px 0 rgba(189, 130, 13, 0.726);
}

.dark .modal-movie{
    background-color: #f3f3f3;
}

.transitionBtn {
     transition: 1000ms;
 }

.dark .tui-page-btn{
    color: #b3b3b3;
}

.material-icons {
    font-size: 23px;
    color: getColor(white-text-color);
    transition: color getProperty(time) getProperty(cubic);

    &:hover,
    &:focus {
        color: getColor(accent-text-color);
    }
}

.dark .sorry {
    color: #b3b3b39c;
    font-size: 50px;
    margin-bottom: 20px;
}

.dark .modal-movie{
    background-color: #413f3fef;
}

.dark .modal-movie__cell{
    color: rgb(179, 179, 179);
}

.dark .modal-movie__title{
    color: rgb(224, 222, 222);
}

.dark .modal-movie__subtitle{
    color: rgb(224, 222, 222);
}

.dark .modal-movie__text{
     color: rgb(179, 179, 179);
}

.dark .button.button--modal-btn{
    color: rgb(179, 179, 179);
    border-color: rgb(179, 179, 179);
}

.dark .button.button--modal-btn:hover{
    border: none;
    color: black;
}

.dark .modal-movie__span--votes{
    color:rgb(0, 0, 0);
    background-color: rgb(179, 179, 179);
}

.theme {
    position: absolute;
    top: 275px;
    right: 15vw;
}

.dark .card__title{
    color: rgb(179, 179, 179) ;
}

.dark body {
    background-color:rgb(39, 39, 39);
}

.dark .movie-card__info-title {
    color: getColor(white-text-color);
}

.dark .card__genre,
.dark .card__year {
    color: getColor(white-text-color);
}