.button--trailer {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.modal-movie__svg--ytb {
    width: 22px;
    height: 28px;
    margin-left: 10px;
    margin-right: 6px;

    @media screen and (min-width: getSize(tablet)) {
        width: 30px;
        height: 28px;
        margin-left: 13px;
        margin-right: 10px;
    }

    @media screen and (min-width: getSize(desktop)) {
    width: 30px;
    height: 28px;
    margin-left: 13px;
    margin-right: 10px;
    }



}

.basicLightbox__placeholder iframe {
    height: 240px;
    min-width: 320px;

    @media screen and (min-width: getSize(tablet)) {
        height: 460px;
        width: 740px;
    }

    @media screen and (min-width: getSize(desktop)) {
        height: 600px;
        width: 1024px;
    }
}